# This file contains pin mappings for the LDO Kit using BigTreeTech Octopus V1 as the main controller.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000
max_z_velocity: 50
max_z_accel: 350
square_corner_velocity: 5

##BTT Octopus via USB
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_380033000A51373330333137-if00
restart_method: command

##BTT Octopus via UART
#[mcu]
#serial: /dev/ttyAMA0
#restart_method: command

##BTT Octopus via CANbus
#[mcu]
#canbus_uuid: 887dbe133697

#Mellow FLY SB2040 via CANbus
[mcu sb2040]
canbus_uuid: 62aff65e7dcf

##Raspberry Pi host
[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor RPI_temp]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor octopus_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor SB2040_temp]
sensor_type: temperature_mcu
sensor_mcu: sb2040

[temperature_sensor chamber_temp]
sensor_type: Generic 3950
sensor_pin = sb2040:gpio26
min_temp: -50
max_temp: 350

########################################
# ADXL
########################################

[adxl345]
cs_pin: sb2040:gpio1
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2

[resonance_tester]
accel_chip: adxl345
probe_points: 175,175,20 
	
[input_shaper]
# shaper_type_x = zv
# shaper_freq_x = 52.4
# shaper_type_y = zv
# shaper_freq_y = 39.2

########################################
# Bed
########################################

[heater_bed]
##  SSR Pin - HE1
##  Thermistor - TB
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
pwm_cycle_time: 0.02
min_temp: 0
max_temp: 120
#control: pid

[verify_heater heater_bed]
#max_error: 120
check_gain_time: 90
#hysteresis: 5
#heating_gain: 2

[bed_mesh]
algorithm: bicubic
fade_end: 10.0
fade_start: 0.6
horizontal_move_z: 20
mesh_max: 310,310
mesh_min: 40,40
mesh_pps: 2,2
probe_count: 9,9
relative_reference_index: 40
speed: 300

[probe]
pin: ^sb2040:gpio28
x_offset: 0
y_offset: 0
#z_offset: 0
lift_speed: 25
samples: 3
samples_result: median
sample_retract_dist: 5.0
samples_tolerance: 0.0075
samples_tolerance_retries: 3
speed: 5
activate_gcode:
  {% set PROBE_TEMP = 150 %}
  {% set MAX_TEMP = PROBE_TEMP + 5 %}
  {% set ACTUAL_TEMP = printer.extruder.temperature %}
  {% set TARGET_TEMP = printer.extruder.target %}

  {% if TARGET_TEMP > PROBE_TEMP %}
    { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
    M109 S{ PROBE_TEMP }
  {% else %}
    # Temperature target is already low enough, but nozzle may still be too hot.
    {% if ACTUAL_TEMP > MAX_TEMP %}
      { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
      TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
    {% endif %}
  {% endif %}

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   50,50
   50,300
   300,300
   300,50

speed: 300
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.0100
max_adjust: 10

[safe_z_home]
home_xy_position: 175,175
speed: 100
z_hop:20
z_hop_speed:25

[skew_correction] 

########################################
# Extruder
########################################

[extruder]
enable_pin: !sb2040:gpio7
step_pin: sb2040:gpio9
dir_pin: sb2040:gpio10
rotation_distance: 22.11197732
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: sb2040:gpio6
## 4700k Config
#sensor_type: ATC Semitec 104NT-4-R025H42G #Revo Voron
#sensor_type: ATC Semitec 104NT-4-R025H42G #Phaetus Dragonfly
#sensor_type: ATC Semitec 104GT-2 #Phaetus Dragon High Flow
## PT1000 Config
sensor_type: PT1000
pullup_resistor: 1000
sensor_pin: sb2040:gpio27
min_extrude_temp: 170
max_extrude_cross_section: 0.8
max_extrude_only_distance: 500
max_extrude_only_velocity: 60
max_extrude_only_accel: 600
min_temp: 0
max_temp: 450
max_power: 1.0
#control = pid
pressure_advance: 0.040
pressure_advance_smooth_time: 0.040

[firmware_retraction]
retract_length: 0.4
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]

########################################
# Stepper Drivers
########################################

[tmc2209 extruder]
uart_pin: sb2040:gpio8
interpolate: false
run_current: 0.5
stealthchop_threshold: 0

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

########################################
# Stepper Motors
########################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin:sb2040:gpio29
#========================================
position_min: 0
position_endstop: 350
position_max: 350
#========================================
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: PG9
#========================================
position_min: 0
position_endstop: 355
position_max: 355
#========================================
homing_speed: 100
homing_retract_dist: 5
homing_positive_dir: true

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
#========================================
#position_endstop: 0
position_max: 300
position_min: -5
#========================================
homing_speed: 25
second_homing_speed: 5
homing_retract_dist: 5
homing_retract_speed: 25

[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

########################################
# Cooling
########################################

#Controller Fans
[controller_fan controller_fan]
pin: PD12
max_power: 1.0
kick_start_time: 0.5
heater: heater_bed
fan_speed: 0.50

#Hotend Cooling Fan
[heater_fan hotend_fan]
pin: sb2040:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

#NeverMore Fans
[fan_generic exhaust_fan]
pin: PD13
max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#Part Cooling Fan
[fan]
pin: sb2040:gpio13
kick_start_time: 0.5
off_below: 0.10

#SB2040 Cooling Fan
[heater_fan sb2040_fan]
pin: sb2040:gpio15
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0

########################################
# Lights
########################################

[output_pin caselight]
## Chamber Lighting - CNC_FAN5
pin: PD15
pwm:true
shutdown_value: 0
value: 0.25
cycle_time: 0.01

########################################
# Screen
########################################

[board_pins]
aliases:
  # EXP1 header
  EXP1_1=PE8, EXP1_2=PE7,
  EXP1_3=PE9, EXP1_4=PE10,
  EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
  EXP1_7=PE14, EXP1_8=PE15,
  EXP1_9=<GND>, EXP1_10=<5V>,
  
  # EXP2 header
  EXP2_1=PA6, EXP2_2=PA5,
  EXP2_3=PB1, EXP2_4=PA4,
  EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
  EXP2_7=PC15, EXP2_8=<RST>,
  EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
display_group: __voron_display
menu_timeout: 60
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel display]
pin: EXP1_6
chain_count: 3
initial_RED: 0.0
initial_GREEN: 0.4471
initial_BLUE: 0.702
color_order: RGB

[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=display RED=0 GREEN=0.4471 BLUE=0.702 INDEX=1 TRANSMIT=0
        SET_LED LED=display RED=0 GREEN=0.4471 BLUE=0.702 INDEX=2 TRANSMIT=0
        SET_LED LED=display RED=0 GREEN=0.4471 BLUE=0.702 INDEX=3 

[output_pin _BEEPER]
pin: EXP1_1
pwm: TRUE
value: 0
shutdown_value: 0
cycle_time: 0.001

#####################################################################
#   Additional Includes
#####################################################################

[include lcd_tweaks.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
[include test_probe_accuracy.cfg]

########################################
# Macros
########################################

[include macros/adaptive_bed_mesh.cfg]
[include macros/air_filter_timer.cfg]
[include macros/conditional_homing.cfg]
[include macros/filament_swap.cfg]
[include macros/lcd_beeper.cfg]
[include macros/move_nozzle.cfg]
[include macros/nozzle_prime.cfg]
[include macros/nozzle_scrub.cfg]
[include macros/pressure_advance.cfg]
[include macros/print_cancel.cfg]
[include macros/print_end.cfg]
[include macros/print_pause.cfg]
[include macros/print_resume.cfg]
[include macros/print_start.cfg]
[include macros/printer_idle.cfg]
[include macros/safe_park.cfg]
[include macros/safe_retract.cfg]
[include macros/stealthburner_leds.cfg]
[include macros/test_speed.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.183
#*# pid_ki = 1.014
#*# pid_kd = 359.395
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 16.626
#*# pid_ki = 0.999
#*# pid_kd = 69.207
#*#
#*# [probe]
#*# z_offset = -0.730
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 52.4
#*# shaper_type_y = zv
#*# shaper_freq_y = 39.2
